@charset "utf-8";

/*********************************************
ここでブラウザに依存するスタイルをリセットする
**********************************************/
* {
  margin:0;
  padding:0;
  border:0;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  font-style:normal;
  list-style:none;
  outline:0;
  text-decoration:none;
}

html {width:100%; height:100%;}

body {
  position:relative;
  height:100%;
  font-size:16px;
  font-family:Roboto,'Droid Sans','メイリオ',Meiryo,'ＭＳ Ｐゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic ProN',sans-serif;
  line-height:1.7;
  -webkit-text-size-adjust:100%;
  text-size-adjust:100%;
}

article, aside, dialog, figure, footer, header, main, menu, nav, section {display:block;}
audio, canvas, video {display:inline-block;}

br,
hr {display:block;}

table {border-collapse:collapse; border-spacing:0;}

h1,h2,h3,h4 {
  font-weight: bold;
}
.cf:before, .cf:after { content: ""; display: block; clear: both; height: 0; visibility: hidden; }
.cf     { zoom: 1; }

.mt2000 {
  margin-top: 2000px;
}